# Virtual environment
../.venv/
venv/
env/
.venv

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

# Editor/IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.flaskenv

# Database files (if applicable, e.g., SQLite)
*.sqlite3
*.db

# Log files
*.log

# Test reports
.pytest_cache/
htmlcov/
.coverage

# Build artifacts
dist/
build/